body {
    background-color: #9C835F;
    font-family: 'Open Sans';
    height: 100vh;
    margin-bottom: 0;
}
.title {
    display: flex;
    justify-content: start;
    flex-direction: row;
    margin-left: 1rem;
}
.title a {
    display: flex;
    align-items: center;
    text-decoration: none;
    width: 25px;
    height: 40px;
    font-weight: bolder;
    font-size: 65px;
    line-height: 98px;
    margin-right: 0.5em;
    color: #724C21;
}

.title p {
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    margin: 0;
    margin-left: 1em;
    color: #F9B23D;
}

.title img {
    width: 42px;
    height: 42px;
}

.container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    height: 90vh;
    /* margin-top: 3rem; */
}

.box {
    padding: 1.5em;
    margin: 1em;
}

.rock img {
    width: 110px;
    height: 120px;
}
.paper img {
    /* width: 105px;
    height: 140px; */
    width: 100px;
    height: 120px;
}
.scissor img {
    /* width: 124px;
    height: 150px; */
    width: 110px;
    height: 120px;
}
.wrap-center {
    display: flex;
    flex-direction: column;
    /* height: auto; */
    align-items: center;
    align-self: end;
    margin-top: 20rem;
    /* position: relative; */
}
.versus {
    /* display: none; */
    color: #BD0000;
    font-style: normal;
    font-weight: bolder;
    font-size: 144px;
    letter-spacing: 0.1em;
    /* margin-top: 15rem; */
}
.result .win, .lose, .draw{
    display: none;
    /* position: absolute; */
    background-color: #4C9654;
    border-radius: 10px;
    transform: rotate(-28.87deg);
    width: 271.11px;
    height: 166.93px;
    /* left: 561px;  */
    /* top: 489.89px; */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 52px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 -50px;
}
.result .draw{
    background-color: #035B0C;
}
/* .result {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
} */

.wrap-button {
    margin-top: 10rem;
    /* position: absolute; */
    bottom: 0;
}
.btn {
    background-color: transparent;
    border: none;
}
.btn:hover {
    transform: rotate(90deg);
}
.btn:active {
    transform: rotate(25deg);
}

.btn img {
    width: 75px;
    height: 75px;
}

.wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.wrap p {
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bolder;
    margin-bottom: 0;
    margin-top: 0;
} 
